
body{
    font-family: "Nunito", sans-serif;
padding: 0;
margin: 0;

}

.mycontainer{
    background-color:#13C4A1;

}

.mynav {
color: white;
background-color:#13C4A1;
padding-left: 150px;
}




.mylink{
    color: white;
    padding: 20px;
    margin: 10px;
}

.mycrake{
    color: white;
    padding-right: 300px;
    font-size: 40px;
}

.myicon{
    color: #13C4A1;
}

.mycard{
    padding: 20px;
    margin-bottom: 40px;
    
    
}

.mypay{
  
    font-size: 23px;
font-weight: 700;
margin-top: 25px;
margin-bottom: 15px;
color: var(--bs-heading-color);
    
}

.card-text{
    font-size: 16px;
color: #818992;
line-height: 1.6;
}



.banner{
    color: white;
    margin: 10px;
}